.gray-bg{
    background-color: #e0e0e0;
}
.white-bg{
    background-color: #FFF;
}
.article{
    margin-bottom: 2em;
}
.content{
    padding: 3em auto;
}
.card-title{
    font-size: 2.2em !important;
}
.no-margins{
    margin: 0;
}
.card-content-text{
    margin-top: 1em;
}
.card-title{
    line-height: 1.25em !important;
    margin-bottom: .3em !important;
    display: inline-block;
}

main, footer {
    padding-left: 240px;
}
