.gray-bg{
    background-color: #e0e0e0;
}
.white-bg{
    background-color: #FFF;
}
.article{
    margin-bottom: 2em;
}
.content{
    padding: 3em auto;
}
.card-title{
    font-size: 2.2em !important;
}